---
import '../type.d.ts';
import type { HTMLAttributes } from 'astro/types';
import Picture from '../components/Picture.astro';

// @ts-expect-error
interface Props extends HTMLAttributes<'HTMLDivElement'>{
  TagName?: tagName;
  size? : {
    width: sizeLength;
    height: sizeLength;
  };
  objectFit? : objectFit;
  src: src;
  artDirectives? : artDirective[];
  alt? : string;
  loading?: loading;
  formats? : format[];
}

const {
  TagName = "div",
  size = { 
    width: '100%',
    height: '100%'
  },
  objectFit = 'cover',
  src,
  artDirectives,
  alt,
  loading,
  formats,
  ...parentProps
} = Astro.props;

const { width, height } = size;
const imageProps = { src, artDirectives, alt, loading, formats}

---
<TagName {...parentProps} class:list={[ 'bgp']}>
  <figure aria-hidden="true">
    <Picture {...imageProps}/>
  </figure>
  <div class="bgp-inner">
    <slot />
  </div>
</TagName>
<style lang="scss" define:vars={{ 
  imageWidth: width,
  imageHeight: height,
  attachment: objectFit
}}>
  .bgp {
    position: relative;
  }
  .bgp-inner {
    position: relative;
    z-index: 1;
  }
  figure {
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width:100%;
    height:100%;
    pointer-events: none;

    :global(img) {
      display: flex;
      width: var(--imageWidth);
      height: var(--imageHeight);
      object-fit: var(--attachment);
      justify-content: center;
      align-items: center;
    }
  }
</style>